<div class="container">
    <div class="form-box login">
        <form action="/auth/login" method="POST"> <h2>Login</h2>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p>Não tem conta? <a href="#" class="register-link">Cadastre-se</a></p>
        </form>
    </div>

    <div class="form-box register">
        <form action="/auth/cadastro" method="POST"> <h2>Cadastro</h2>
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
            <p>Já tem conta? <a href="#" class="login-link">Login</a></p>
        </form>
    </div>
</div>